td.details-control {
    background: url(https://datatables.net/examples/resources/details_open.png) no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url(https://datatables.net/examples/resources/details_close.png) no-repeat center center;
}